/build
/.gradle
/.idea
/gradle
/backup
/src/test/resources/hibernatetest.properties
/schedule_logs

.vscode/

.ansible/

.venv/
.env

.terraform/

*.tfstate
*.tfstate.*

terraform/*/os_image
terraform/*/keys

.terraform.lock.hcl
