[Unit]
Description=NGINX Prometheus Exporter
Requires=nginx_exporter.socket

[Service]
User=nginx_exporter
ExecStart=/usr/local/bin/{{ prometheus_exporter_binary_filename }} --nginx.scrape-uri=http://127.0.0.1/nginx_status --web.systemd-socket

[Install]
WantedBy=multi-user.target
