[Unit]
Description=PostgreSQL Prometheus Exporter

[Service]
Environment="DATA_SOURCE_URI=localhost:5432/?sslmode=disable"
Environment="DATA_SOURCE_USER=postgres"
ExecStart=/usr/local/bin/{{ postgres_exporter_binary_filename }}

[Install]
WantedBy=multi-user.target
